src/main/resources/ws/huge64.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:huge64="http://www.example.org/huge64"
	xmlns:huge64-type="http://www.example.org/huge64-types"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="huge64"
	targetNamespace="http://www.example.org/huge64">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/huge64">
			<xsd:import namespace="http://www.example.org/huge64-types" schemaLocation="types.xsd"></xsd:import>
			<xsd:element name="SendHugeFileRequest" type="huge64-type:HugeFile" />
			<xsd:element name="SendHugeFileResponse" type="huge64-type:UploadStatus" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="sendHugeFileRequestMessage">
		<wsdl:part name="sendHugeFileRequestPart" element="huge64:SendHugeFileRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendHugeFileResponseMessage">
		<wsdl:part name="sendHugeFileResponsePart" element="huge64:SendHugeFileResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="huge64PortType">
		<wsdl:operation name="sendHugeFile">
			<wsdl:input message="huge64:sendHugeFileRequestMessage" />
			<wsdl:output message="huge64:sendHugeFileResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="huge64Binding" type="huge64:huge64PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendHugeFile">
			<soap:operation soapAction="http://www.example.org/huge64/sendHugeFile" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="huge64Service">
		<wsdl:port binding="huge64:huge64Binding" name="huge64Port">
			<soap:address location="http://localhost:8080/huge64/cxf/sendHugeFile" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
